{{ define "jiralert.summary" }}
{{ .CommonLabels.alertname }} | {{ if .CommonLabels.target_group }}{{ .CommonLabels.target_group }}{{end}}{{ if .CommonLabels.service_name }}{{ .CommonLabels.service_name }}{{end}}{{ if .CommonLabels.name }}{{ .CommonLabels.name }}{{end}}{{ if .CommonLabels.queue_name }}{{ .CommonLabels.queue_name }}{{end}}{{ if .CommonLabels.queue }}{{ .CommonLabels.queue }}{{end}}{{ if .CommonLabels.cluster_identifier }}{{ .CommonLabels.cluster_identifier }}{{end}}{{ if .CommonLabels.instance }}{{ .CommonLabels.instance }}{{end}}{{ if .CommonLabels.instance_id }}{{ .CommonLabels.instance_id }}{{end}}{{ if .CommonLabels.cluster_name }}{{ .CommonLabels.cluster_name }}{{end}}{{ if .CommonLabels.db_instance }}{{ .CommonLabels.db_instance }}{{end}}{{ if .CommonLabels.domain_name }}{{ .CommonLabels.domain_name }}{{end}}{{ if .CommonLabels.node_id }}{{ .CommonLabels.node_id }}{{end}}
{{end}}

{{ define "jiralert.description" }}

h3. *Alert Information*
- *Status:* {{ .Status }}
{{ range $key, $value := .GroupLabels }}
- *{{ $key }}:* {{ $value }}{{ end }}

h3. Alerts
{{ range .Alerts }}
    {{$Labels := .Labels}}
    - *Alert:*
    -- *Starts At:* {{ .StartsAt }}
    -- *Ends At:* {{ .EndsAt }}
    -- *Annotations:*{{ range $key, $value := .Annotations }}
    --- *{{ $key }}:* {{ $value }}{{ end }}
    --- *[Generator URL|{{ .GeneratorURL }}]*
    -- *Labels:*{{ range $key, $value := .Labels }}
    --- *{{ $key }}:* {{ $value }}{{ end }}
{{ end }}

h3. Additional Information:*

{{ range $key, $value := .CommonLabels }}
- *{{ $key }}:* {{ $value }}{{ end }}

- *Receiver:* {{ .Receiver }}
- *External URL:* [{{ .ExternalURL }}]

- *Version:* {{ .Version }}
- *Group Key:* {{ .GroupKey }}
{{ end }}